
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Vendedores Registrados</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-segment color="tertiary" value="productos">

    
    
    <ion-segment-button value="productos" [routerLink]="['/ayudantes']" routerDirection="root">
      <ion-icon name="bag-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Productos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="locales" [routerLink]="['/locales-vendedores']" routerDirection="root">
      <ion-icon name="home-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Locales</ion-label>
    </ion-segment-button>


  </ion-segment> -->

  <!-- <ion-item>
    <label style="font-size: 15px;">Cantidad de ayudantes registrados: {{ayudantes.length}}</label>
  </ion-item> -->

<ion-searchbar
    color="light" 
    placeholder = "Buscar usuario..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>

  <ion-item>
    <label style="font-size: 15px;">Cantidad de vendedores registrados: {{vendedores.length}}</label>
  </ion-item>
 
  
<ng-container *ngFor="let usuario of vendedores | filtroUsuario: textoBuscar">

  <ng-container *ngIf="usuario.Vendedor">
    <ion-item  [routerLink]="['/usuarios-detalle', usuario.id]" >

        
      <ion-thumbnail slot="start" slot="start">
        <img src="{{usuario.Foto}}" alet="foto">
      </ion-thumbnail>

      
      <ion-label>{{usuario.Nombre}} {{usuario.Apellido}}</ion-label>
      <ion-button fill="outline" slot='end' color="success"><label style="font-size: 15px" >{{usuario.Cantidad}}</label></ion-button>

      
    </ion-item>

  </ng-container>
      
      
    
</ng-container>

</ion-content>
