<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Configuraciones</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card *ngIf='variables.ReseteoValores'>
      <ion-card-header>
      <ion-card-title>Cambiar rol todos a Usuarios</ion-card-title>
    </ion-card-header>
    <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="alertVendedores()">Actualizar</ion-button>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
    <ion-card-title>Premium Temporal:</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="PremiumTemporal()">Actualizar</ion-button>
  </ion-card> -->

  <ion-card *ngIf='variables.ReseteoValores'>
    <ion-card-header>
    <ion-card-title>Ocultar productos y locales</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="alertLocales()">Actualizar</ion-button>
  </ion-card>


</ion-content>
