
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Productos Registrados</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment color="tertiary" value="productos">

    <ion-segment-button value="locales" [routerLink]="['/locales-registrados']" routerDirection="root">
      <ion-icon name="home-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Locales</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="productos" [routerLink]="['/productos']" routerDirection="root">
      <ion-icon name="bag-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Productos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="servicios" [routerLink]="['/servicios']" routerDirection="root">
      <ion-icon name="man-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Servicios</ion-label>
    </ion-segment-button>

  </ion-segment>



  <ion-item>
    <label style="font-size: 15px;">Cantidad de productos registrados: {{productos.length}}</label>
  </ion-item>

  <ion-searchbar
    color="light" 
    placeholder = "Buscar producto..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>

 
  
<ng-container *ngFor="let producto of productos | filtroProductos: textoBuscar">
      
      <ion-item *ngIf="producto.Visibilidad">

        
        <ion-thumbnail slot="start" slot="start">
          <img src="{{producto.Foto1}}" alet="foto">
        </ion-thumbnail>

        
        <ion-label>{{producto.Titulo}}</ion-label>

        <ion-icon name="trash-outline" slot='end' color='danger'(click)="alert(producto)"></ion-icon>

        
      </ion-item>
    
</ng-container>

</ion-content>
